<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Name"
      formControlName="name"
    />
  </div>

  <div>
    <label for="email">Email:</label>
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Email"
      formControlName="email"
    />
  </div>

  <div formGroupName="address">
    <label for="street">Street:</label>
    <input
      type="text"
      name="street"
      id="street"
      placeholder="Street"
      formControlName="street"
    />
    <label for="city">City:</label>
    <input
      type="text"
      name="city"
      id="city"
      placeholder="City"
      formControlName="city"
    />
  </div>

  <div formArrayName="phoneNumbers">
    <div *ngFor="let phoneCtrl of phoneNumbers.controls; let i = index">
      <label>Phone Number {{ i + 1 }}</label>
      <input type="text" [formControlName]="i"  />
      <button type="submit" (click)="removePhoneNumber(i)">
        Remove Phone Number
      </button>
    </div>
    <div>
      <button type="submit" (click)="addPhoneNumber()">Add Phone Number</button>
    </div>
  </div>
  <div>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </div>
</form>
