
<header class="custom-navbar sticky-top">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="brand-logo custom-bouncing-logo" href="#">
  Let's<span class="logo-highlight">Angular</span>
</a>

      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#customNav">
        <span class="toggler-icon-bar"></span>
        <span class="toggler-icon-bar"></span>
        <span class="toggler-icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex justify-content-between align-items-center" id="customNav">
        <ul class="nav-links-list">
          <li><a routerLink="/home" class="menu-link active">Home</a></li>
          <li><a routerLink="/about" class="menu-link">About</a></li>
          <li><a routerLink="/courses" class="menu-link">Courses</a></li>
          <li><a routerLink="/gallery" class="menu-link">Gallery</a></li>
          <li><a routerLink="/contact" class="menu-link">Contact Us</a></li>
        </ul>
        
        <div class="nav-btn-wrapper">
          <button class="header-btn">Enroll Now</button>
        </div>
      </div>
    </div>
  </div>
</header>